<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EvilDICOM" version="1.0.5.0" targetFramework="net461" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net461" />
  <package id="OxyPlot.WindowsForms" version="2.0.0" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc" version="1.50.5147" targetFramework="net461" />
</packages>